#resume-form{
    margin-top: 50px;
}

body{
  margin-top: -50px;
     margin-bottom: -50px;

    font-family: Georgia, 'Times New Roman', Times, serif;

    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
.myimg{
    
    border-radius: 50%;
    width: 200px;
}

.background{
background-color: rgb(91, 93, 96);
}

/* h3{
    color: white;
} */

/* p{
    color: white;
} */

.wf {
    color: white;
    border-color: aliceblue;
}

/* 
#navbar {
  background-size: cover;
  
  width: 100%;
  background-color: rgb(91, 93, 96);
  color: white;
} */

a:link{
    color: white;
}

#navbar {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0 px; 
    position: sticky;
    top: 0;
    height: 60px;
  }


  .footer{
    padding-bottom: 0px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  a:link, a:visited {
    background-color: #fffffddb;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
  }
  
  a:hover, a:active {
    background-color: rgb(235, 226, 226);
  }

  .Hei{
    height: 50px;
    justify-content: center;
    padding-top: 9px;
  }  
  
  .card-body{
    color: black;
    
  }

  

  
  
  .btn{
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 5px 2px 2px rgb(0,0,0);
    border: #000000;
    color: #000000;
    background-color: white;
  }

.bu{
  background: transparent;
  border-radius: 10px;
  border: #000000;
  box-shadow: 0px 5px 1px 1px rgb(0,0,0);
  
 

  
}


.effect{

  text-align: center;
   
  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
    border-radius: 5px;
  
    padding: 10px;
  
    box-shadow: 0px 5px 2px 2px rgb(0,0,0);

 
}

